<%= render 'info', user: @user, book: @new_book %>

<h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image(100,100) %></td>
          <td><%= link_to book.title, book_path(book)%></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

