<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<h2>New Book</h2>
<%= form_with model: @book do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>
  <label>Opinion</label>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>